
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: black;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: black;
  background-color: lightblue;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  float: left;
  width: 33.3%;
  color:black;
  background-color: yellow;
}

#middle {
  float: left;
  width: 33.3%;
  color: black;
  background-color: red;
}

#right {
  float: left;
  width: 33.3%;
  color: black;
  background-color: green;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  color: black;
  background-color: brown;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background-color: pink;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  color: black;
  background-color: blue;
}

#aside2 {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  color: black;
  background-color: grey;
}

footer {
  padding: 20px;
  clear: both;
  background-color: purple;
}

