
* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: black;
  background: lightblue;
}

section {
}

#left {
}

#middle {
}

#right {
}

#full {
}

#division {
  
}

aside {
  
}

#aside2 {

}

footer {
}
